.footer-wrapper 
{
    /* color */
    background-color: black;
    color: white;

    /* edge fillings */
    margin: -15px;
    margin-top: 1px;
    padding: 15px;
}

.footer-wrapper a
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}