/* Styles need to be changed */
.header-wrapper 
{
    /* colors */
    background-color: burlywood;
    color: green;

    /* alignment */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* edge fillings */
    margin: -15px;
    margin-bottom: 2px;
    padding: 15px;
}

.title-wrapper
{
    font-weight: bold;
    padding: 30px;
}

/* directly effecting the links */
.links-wrapper a
{
    /* for the links themselves */
    /* add in hover effect */
    text-decoration: none;
    color: green;
    padding-right: 20px;
}

.social-links-wrapper a
{
    color: green;
    text-decoration: none;
    padding-right: 20px;

    /* add in hover effect */
}

.title-wrapper 
{
    /* font */
    font-size: 50px;
}