body 
{
    /* color */
    background-color: black;

    /* border control */
    overflow-x: hidden;
}

.background-img img
{
    width: 100%;
    border-radius: 2%;
}

.header-wrapper 
{
    /* colors */
    background-color: burlywood;
    color: white;

    /* alignment */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* edge fillings */
    margin: -15px;
    margin-bottom: 2px;
    padding: 15px;
}

.title-wrapper 
{
    /* font */
    font-size: 50px;
}

.footer-wrapper 
{
    /* color */
    background-color: black;

    /* edge fillings */
    margin: -15px;
    margin-top: 1px;
    padding: 15px;
}