body 
{
    /* color */
    background-color: black;

    /* border control */
    overflow-x: hidden;
}

.background-img img
{
    width: 100%;
    border-radius: 2%;
}

.body-content-wrapper
{
    color: burlywood;
    background-color: green;

    margin: -15px;
    padding: 15px;
}

.body-content
{
    height: 500px;
}
